@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

:root {
	--accent: #2a8b9d;
	--text: #ddd;
	--link: #2a8b9d;
	--bg: #111;
	--fg: #333;

	--nav-bg: #222;
	--nav-accent: #2a8b9d;
	--nav-text: #ddd;
	--nav-height: 64px;
}

body {
	font-family: 'Oxygen', sans-serif;
	font-weight: 400;
	margin: 0;
	background-color: var(--bg);
	color: var(--text);
}

header {
	background-color: var(--medium);
	padding: 1em;
	text-align: center;
}

h1 {
	font-weight: 700;
	font-size: 1.5em;
	margin: 0;
}

h2 {
	font-weight: 700;
	font-size: 1.25em;
	margin: 0;
}

a {
	color: var(--link);
	text-decoration: none;
}
