.navbarWrapper {
	width: 100%;
	height: var(--nav-height);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	background-color: var(--nav-bg);
	color: var(--nav-text);
	box-shadow: 0px -2px 4px -1px rgb(0 0 0 / 20%), 0px -3px 5px 0px rgb(0 0 0 / 14%), 0px -4px 10px 0px rgb(0 0 0 / 12%);
}

.navbar {
	height: var(--nav-height);
	padding: 10px 16px;
	box-sizing: border-box;
	display: flex;
	align-items: center;	
	justify-content: space-between;
}

.logo {
	height: 100%;
	fill: var(--nav-accent);
	cursor: pointer;
}

.menuButton {
	justify-self: flex-end;
	cursor: pointer;
	height: 100%;
}

.menu {
	position: fixed;
	top: var(--nav-height);
	height: 100%;
	right: 0;
	width: 18rem;
	padding: 8px;
	box-sizing: border-box;
	color: var(--text);
	background-color: var(--fg);
	transform: none;
	transition: transform var(--transition);
	box-shadow: -2px 0px 4px -1px rgb(0 0 0 / 20%), -3px 0px 5px 0px rgb(0 0 0 / 14%), -4px 0px 10px 0px rgb(0 0 0 / 12%);
}

.content {
	padding-top: var(--nav-height);
}